<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Tax Calculator</div>
        <div class="main__content__body">Here you can calculate a simple tax amount estimation from a given income and a
          tax rates year, then save them under your profile.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="user-input__form">
  <h2>Please enter information:</h2>
  <form [formGroup]="profileForm">
    <mat-form-field
      [hideRequiredMarker]="false"
      [floatLabel]="'Superannuation Percentage'">
      <input matInput type="number" #superPercent min="9.5" max="100" placeholder="Superannuation percentage"
             formControlName="superPercent" required>
      <mat-error *ngIf="superPercent">
        Must be 9.5% - 100%
      </mat-error>
    </mat-form-field>
    <div class="form-item__radios">
      <label>Income Type: </label>
      <mat-radio-group formControlName="incomeType">
        <mat-radio-button class="form-item__radios__button" [value]=1>Gross</mat-radio-button>
        <mat-radio-button class="form-item__radios__button" [value]=2>Gross + Super</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field
        [hideRequiredMarker]="false"
        [floatLabel]="'Income AUD'">
        <input matInput type="number" #income min="0" placeholder="Income AUD" formControlName="income" required>
        <mat-error *ngIf="income">
          Must be greater than 0
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Tax Year" formControlName="year">
          <mat-option [value]="2014">2014</mat-option>
          <mat-option [value]="2015">2015</mat-option>
          <mat-option [value]="2016">2016</mat-option>
          <mat-option [value]="2017">2017</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div *ngIf="profileForm.invalid">
    <h1>Please Enter Valid Input</h1>
  </div>
  <div *ngIf="!profileForm.invalid" id="tax-value">
    <h2>Your figures for {{profileForm.value['year']}}:</h2>
    <div class="tax-value__item">
      <div class="tax-value__item__title">Superannuation:</div>
      <div class="tax-value__item__value">${{calculations['superAnnuation'] | number:'1.2-2'}}</div>
    </div>
    <div class="tax-value__item">
      <div *ngIf="profileForm.value['incomeType'] == 1" class="tax-value__item__title">Gross:</div>
      <div *ngIf="profileForm.value['incomeType'] == 2" class="tax-value__item__title">Gross + Superannuation:</div>
      <div class="tax-value__item__value">${{calculations['gross'] | number:'1.2-2'}}</div>
    </div>
    <div class="tax-value__item">
      <div class="tax-value__item__title">Tax:</div>
      <div class="tax-value__item__value">${{calculations['tax'] | number:'1.2-2'}}</div>
    </div>
    <div class="tax-value__item">
      <div class="tax-value__item__title">Net:</div>
      <div class="tax-value__item__value">${{calculations['net'] | number:'1.2-2'}}</div>
    </div>
    <div class="tax-value__item">
      <div class="tax-value__item__title">Net + Superannuation:</div>
      <div class="tax-value__item__value">${{calculations['netSuperannuation'] | number:'1.2-2'}}</div>
    </div>
    <button mat-raised-button class="tax-value__save__button" (click)="onSaveClicked()">
      <div class="tax-value__save__button__text">Save</div>
    </button>
  </div>
</div>

<!--<p>-->
<!--Form Value: {{ profileForm.value | json }}-->
<!--</p>-->
