<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">History</div>
      </div>
    </div>
  </div>
</div>
<div class="history__container">
  <div class="history__toolbar">
    <button mat-raised-button class="history__toolbar__button" (click)="onDeleteClicked()"
            [disabled]="selection.selected.length <= 0">
      <div class="history__toolbar__button__text">Delete Selected</div>
    </button>
    <button mat-raised-button class="history__toolbar__button" (click)="onRefreshClicked()">
      <mat-icon class="history__toolbar__button__text">refresh</mat-icon>
    </button>
  </div>
  <mat-spinner *ngIf="isLoadingData" class="history__spinner"></mat-spinner>
  <table *ngIf="!isLoadingData" mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created</th>
      <td mat-cell *matCellDef="let row"> {{row.created | date:'short'}}</td>
    </ng-container>
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income</th>
      <td mat-cell *matCellDef="let row"> ${{row.income | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="superPercent">
      <th mat-header-cell *matHeaderCellDef> Superannuation %</th>
      <td mat-cell *matCellDef="let row"> {{row.superPercent | number:'1.2-2'}}%</td>
    </ng-container>
    <ng-container matColumnDef="superAnnuation">
      <th mat-header-cell *matHeaderCellDef> Superannuation</th>
      <td mat-cell *matCellDef="let row"> ${{row.superAnnuation | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef> Gross</th>
      <td mat-cell *matCellDef="let row"> ${{row.gross | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Tax</th>
      <td mat-cell *matCellDef="let row"> ${{row.tax | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="net">
      <th mat-header-cell *matHeaderCellDef> Net</th>
      <td mat-cell *matCellDef="let row"> ${{row.net | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="netSuperannuation">
      <th mat-header-cell *matHeaderCellDef> Net + Superannuation</th>
      <td mat-cell *matCellDef="let row"> ${{row.netSuperannuation | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="taxYear">
      <th mat-header-cell *matHeaderCellDef> Tax Year</th>
      <td mat-cell *matCellDef="let row"> {{row.year}}</td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="tax-rate__container"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="tax-rate__heading">Tax Rates for {{element.year}}</div>
          <div *ngFor="let rate of taxRates(element.year)" class="tax-rate__item">
            <div class="tax-rate__item__label">${{rate.min}} - ${{rate.max}}</div>
            <div class="tax-rate__item__value">{{rate.text}}</div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        matTooltip="Click to view tax rates for {{element.year}}"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
