:host{
  background: #ffffff;
}

.history__container{
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.history__spinner{
  display: flex;
  align-self: center;
}

.history__toolbar{
  display: flex;
  justify-content: space-between;
}

.history__toolbar__button{
  background: rgba(179, 54, 139, 1);
}

.history__toolbar__button__text{
  color: #ffffff;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 14%;
}
//
//.foo{
//  width: 100px;
//}
