<div class="register">
  <div class="register__container">
    <h1>Register</h1>
    <div>Already a member? Please <a routerLink="/signin">sign in</a> instead.</div>
    <form class="register__form" #registerForm="ngForm" (submit)="register()">
      <mat-form-field
        [floatLabel]="'Full Name'">
        <input matInput type="text" name="name" placeholder="Full Name" required
               [(ngModel)]="credentials.name">
      </mat-form-field>
      <mat-form-field
        [floatLabel]="'Email Address'">
        <input matInput type="email" name="email" placeholder="Email" required
               [(ngModel)]="credentials.email">
      </mat-form-field>
      <mat-form-field
        [floatLabel]="'Password'">
        <input matInput type="password" name="password" placeholder="Password" required
               [(ngModel)]="credentials.password">
      </mat-form-field>
      <button type="submit" mat-raised-button class="register__button" [disabled]="registerForm.form.invalid">
        <div class="register__button__text">Register</div>
      </button>
    </form>
  </div>
</div>
