<div class="footer">
  <div *ngIf="isButtonVisible" class="footer-button" data-scroll aria-label="Back to top" (click)="onFooterButtonClicked()">
    <mat-icon class="mat-icon">keyboard_arrow_up</mat-icon>
  </div>
  <div class="footer-content">
    <a routerLink="/home">
      <img class="tax-logo" src="/assets/images/tax-logo.svg" alt="Tax Logo">
    </a>
    <div class="footer-links">
      <nav class="nav">
      </nav>
      <div class="right">
        <div class="email-us">EMAIL: tahlynch@gmail.com</div>
      </div>
    </div>
  </div>
</div>
