<div id="header" appHeaderscrolled>
  <div class="top-left">
    <div class="logo-button">
      <div class="logo" routerLink="" (click)="scrollToTop()">
        <div class="logo-icon">
          <img class="icon image__fade" [src]="logoImage">
        </div>
      </div>
    </div>
  </div>
  <div class="header__right">
    <nav class="nav">
      <div *ngIf="auth.isLoggedIn()" class="nav-item" routerLink="/taxcalculator" routerLinkActive="active" (click)="scrollToTop()">
        Tax Calculator
      </div>
      <div *ngIf="auth.isLoggedIn()" class="nav-item" routerLink="/history" routerLinkActive="active" (click)="scrollToTop()">
        History
      </div>
    </nav>
    <div class="user__container">
      <div *ngIf="!auth.isLoggedIn()" class="nav-item" routerLink="/signin">SIGN IN</div>
      <div *ngIf="auth.isLoggedIn()" class="nav-item" (click)="onSignOutClicked()">SIGN OUT</div>
    </div>
  </div>
</div>
<div id="spacer"></div>
