<div class="belt">
  <div class="belt__image donations__belt__image" style="background-image: url('/assets/images/australia.jpg')">
    <div class="belt__image__text">
      <div class="belt__image__text__title">Australian Tax Estimation</div>
      <div class="belt__image__text__post-title">This application calculates your taxes</div>
    </div>
    <button mat-button class="donate__button" routerLink="/signin">
      <div *ngIf="!auth.isLoggedIn()" class="donate__button__text">Sign In</div>
      <div *ngIf="auth.isLoggedIn()" class="donate__button__text" routerLink="/taxcalculator">Calculate Taxes</div>
    </button>
  </div>
</div>
